<!doctype html>
<html lang="en">
<head>
	<title>CosyOne - Home</title>
	<meta charset="utf-8">
	<!--add responsive layout support-->
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--meta info-->
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!--include favicon-->
	<link rel="shortcut icon" type="image/x-icon" href="images/fav.ico">
	<!--fonts include-->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,500italic,300italic,100italic,100,700italic,900,900italic,700' rel='stylesheet' type='text/css'>
	<!--stylesheet include-->
	<link rel="stylesheet" type="text/css" media="all" href="~/plugins/layerslider/css/layerslider.css">
	<link rel="stylesheet" type="text/css" media="all" href="~/plugins/owl-carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="~/plugins/fancybox/jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" media="all" href="~/plugins/jackbox/css/jackbox.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="~/css/animate.css">
	<link rel="stylesheet" type="text/css" media="all" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="~/css/style.css">
	<!--[if lte IE 10]><link rel="stylesheet" type="text/css" media="screen" href="css/ie.css"><![endif]-->
	<!--head libs-->
	<!--[if lte IE 8]>
		<style>
			#preloader{display:none !important;}
		</style>
	<![endif]-->
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/modernizr.js"></script>
</head>
<body class="sticky_menu">

	<div id="preloader"></div>

	<!--layout-->
	<div class="wide_layout db_centered bg_white">
		<!--[if (lt IE 9) | IE 9]>
			<div class="bg_red" style="padding:5px 0 12px;">
			<div class="container" style="width:1170px;"><div class="row wrapper"><div class="clearfix color_white" style="padding:9px 0 0;float:left;width:80%;"><i class="fa fa-exclamation-triangle f_left m_right_10" style="font-size:25px;"></i><b>Attention! This page may not display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.</b></div><div class="t_align_r" style="float:left;width:20%;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button_type_1 d_block f_right lbrown tr_all second_font fs_medium" target="_blank" style="margin-top:6px;">Update Now!</a></div></div></div></div>
		<![endif]-->
		<!--cookie-->
		<!--
		<div class="cookie">
			<div class="container">
				<div class="d_table w_full">
					<div class="d_table_cell v_align_m color_white fw_medium">
						Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.
					</div>
					<div class="d_table_cell v_align_m color_white">
						<a href="#" class="button_type_1 grey tr_all second_font d_block f_right fs_medium">Read More</a>
						<button class="button_type_1 d_block f_right lbrown tr_all second_font fs_medium m_right_3">Accept Cookies</button>
					</div>
				</div>
			</div>
		</div> -->
		<header role="banner" class="w_inherit">
			<!--top part-->
			<div class="header_top_part">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 fs_small color_light fw_light t_xs_align_c">
							<b class="scheme_color">Free shipping</b> on orders over $100. Need Help? <b class="scheme_color">866.526.3979</b>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 t_align_r t_xs_align_c">
							<!--shop nav-->
							<nav class="d_inline_b">
								<ul class="hr_list second_font si_list fs_small">
									<li><a class="sc_hover tr_delay" href="account.html">My Account</a></li>
									<li><a class="sc_hover tr_delay" href="orders_list.html">Orders List</a></li>
									<li><a class="sc_hover tr_delay" href="wishlist.html">Wishlist</a></li>
									<li><a class="sc_hover tr_delay" href="checkout.html">Checkout</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="header_middle_part t_xs_align_c">
				<div class="container">
					<div class="d_table w_full d_xs_block">
						<div class="col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m m_xs_bottom_15">
							<!--logo-->
							<a href="index.html" class="d_inline_b">
								<img src="~/images/logo.png" alt="">
							</a>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 d_table_cell d_xs_block f_none v_align_m">
							<div class="clearfix">
								<div class="clearfix f_right f_xs_none d_xs_inline_b m_xs_bottom_15 t_xs_align_l">
									<!--currency-->
									<div class="f_right relative transform3d">
										<button class="button_type_1 tr_all second_font color_dark grey state_2 fs_small" data-open-dropdown="#currency">&#36;<i class="fa fa-angle-down d_inline_m m_left_25"></i></button>
										<ul id="currency" data-show="wicket" data-hide="wicketout" class="sub_menu dropdown fs_medium bg_grey_light second_font animated">
											<li>
												<a href="#" class="sc_hover">
													&#36; US Dollar
												</a>
											</li>
											<li>
												<a href="#" class="sc_hover">
													&#163; Pound Sterling
												</a>
											</li>
											<li>
												<a href="#" class="sc_hover">
													&#8364; Euro
												</a>
											</li>
										</ul>
									</div>
									<!--language-->
									<div class="f_right m_right_3 relative transform3d">
										<button class="button_type_1 tr_all second_font color_dark grey state_2" data-open-dropdown="#language">
											<img src="~/images/flag_en.jpg" alt="" class="d_inline_m m_right_10"><i class="fa fa-angle-down d_inline_m fs_small"></i>
										</button>
										<ul id="language" data-show="wicket" data-hide="wicketout" class="sub_menu dropdown fs_medium bg_grey_light second_font animated">
											<li>
												<a href="#" class="sc_hover">
													<img src="~/images/flag_en.jpg" alt="" class="d_inline_m m_right_7">
													English
												</a>
											</li>
											<li>
												<a href="#" class="sc_hover">
													<img src="~/images/flag_g.jpg" alt="" class="d_inline_m m_right_7">
													German
												</a>
											</li>
											<li>
												<a href="#" class="sc_hover">
													<img src="~/images/flag_s.jpg" alt="" class="d_inline_m m_right_7">
													Spanish
												</a>
											</li>
										</ul>
									</div>
									<!--login-->
									<div class="f_right m_right_3 relative transform3d">
										<button class="button_type_1 tr_all second_font color_dark grey state_2" data-open-dropdown="#login"><i class="fa fa-user d_inline_m m_right_5"></i> <span class="fs_small">Login</span></button>
										<div id="login" data-show="fadeInUp" data-hide="fadeOutDown" class="dropdown bg_grey_light login_dropdown animated">
											<form class="m_bottom_15">
												<ul>
													<li class="m_bottom_15">
														<label for="username" class="second_font m_bottom_4 d_inline_b fs_medium">Username</label>
														<input type="text" name="" id="username" class="w_full tr_all">
													</li>
													<li class="m_bottom_20">
														<label for="password" class="second_font m_bottom_4 d_inline_b fs_medium">Password</label>
														<input type="password" name="" id="password" class="w_full tr_all">
													</li>
													<li class="m_bottom_20">
														<input type="checkbox" name="" id="remember_me">
														<label for="remember_me" class="second_font fs_medium">Remember me</label>
													</li>
													<li>
														<button class="t_align_c tt_uppercase w_full second_font d_block fs_medium button_type_2 lbrown tr_all">Log In</button>
													</li>
												</ul>
											</form>
											<div class="m_bottom_14 t_align_c">
												<a href="#" class="second_font sc_hover fs_small">Forgot your password?</a><br>
												<a href="#" class="second_font sc_hover fs_small">Forgot your username?</a>
											</div>
											<hr class="divider_white m_bottom_25">
											<h5 class="color_dark tt_uppercase second_font t_align_c m_bottom_15 fw_light">New Customer?</h5>
											<a href="#" role="button" class="button_type_2 tt_uppercase fs_medium second_font d_block t_align_c black state_2">Create An Account</a>
										</div>
									</div>
								</div>
								<!--searchform-->
								<form role="search" class="relative f_right f_xs_none m_right_3 db_xs_centered button_in_input">
									<input type="text" name="" tabindex="1" placeholder="Search" class="fs_medium color_light fw_light w_full tr_all">
									<button class="color_dark tr_all color_lbrown_hover"><i class="fa fa-search d_inline_m"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header_bottom_part bg_white w_inherit">
				<div class="container">
					<hr class="divider_black">
					<div class="row">
						<div class="col-lg-9 col-md-9">
							<button id="mobile_menu_button" class="vc_child d_xs_block db_xs_centered d_none m_bottom_10 m_top_15 bg_lbrown color_white tr_all"><i class="fa fa-navicon d_inline_m"></i></button>
							<!--main menu-->
							<nav role="navigation" class="d_xs_none">
								<ul class="main_menu relative hr_list second_font fs_medium">
									<li class="current">
										<a href="index.html" class="tt_uppercase tr_delay">Home <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5"></i></a>
										<!--sub menu (second level)-->
										<ul class="sub_menu bg_grey_light tr_all">
											<li class="current"><a href="index.html">Home v1</a></li>
											<li><a href="index_v2.html">Home v2</a></li>
											<li><a href="index_v3.html">Home v3</a></li>
											<li><a href="index_v4.html">Home v4</a></li>
										</ul>
									</li>
									<li>
										<a href="index.html" class="tt_uppercase tr_delay">Sliders <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
										<!--sub menu (second level)-->
										<ul class="sub_menu bg_grey_light tr_all">
											<li><a href="index_v4.html">Revolution</a></li>
											<li><a href="index_v3.html">Flex</a></li>
											<li><a href="index.html">Layer</a></li>
											<li><a href="index_v2.html">Royal</a></li>
										</ul>
									</li>
									<li>
										<a class="tt_uppercase tr_delay">Shop <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5"></i></a>
										<div class="mega_menu bg_grey_light tr_all">
											<div class="row">
												<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
													<h6 class="color_dark m_bottom_13"><b class="second_font ">Living Rooms</b></h6>
													<img src="~/images/mega_menu_img_1.jpg" alt="" class="m_bottom_3">
													<ul class="mega_menu_list">
														<li><a href="#" class="d_block sc_hover tr_delay">Sofas</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Chairs</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Ottomans</a></li>
													</ul>
												</section>
												<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
													<h6 class="color_dark m_bottom_13"><b class="second_font ">Bedrooms</b></h6>
													<img src="~/images/mega_menu_img_2.jpg" alt="" class="m_bottom_3">
													<ul class="mega_menu_list">
														<li><a href="#" class="d_block sc_hover tr_delay">Beds</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Dressers/Chests</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Nightstands</a></li>
													</ul>
												</section>
												<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
													<h6 class="color_dark m_bottom_13"><b class="second_font ">Dining Rooms</b></h6>
													<img src="~/images/mega_menu_img_3.jpg" alt="" class="m_bottom_3">
													<ul class="mega_menu_list">
														<li><a href="#" class="d_block sc_hover tr_delay">Tables</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Dining Chairs</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">China Cabinets</a></li>
													</ul>
												</section>
												<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
													<h6 class="color_dark m_bottom_13"><b class="second_font ">Home Office</b></h6>
													<img src="~/images/mega_menu_img_4.jpg" alt="" class="m_bottom_3">
													<ul class="mega_menu_list">
														<li><a href="#" class="d_block sc_hover tr_delay">Desks &amp; Tables</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Office Chairs</a></li>
														<li><a href="#" class="d_block sc_hover tr_delay">Workspace Storage</a></li>
													</ul>
												</section>
											</div>
										</div>
									</li>
									<li>
										<a href="portfolio_1_column_with_sidebar.html" class="tt_uppercase tr_delay">Portfolio <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
										<!--sub menu (second level)-->
										<ul class="sub_menu bg_grey_light tr_all">
											<li>
												<a href="portfolio_1_column_with_sidebar.html">Grid</a>
												<!--sub menu (third level)-->
												<ul class="sub_menu bg_grey_light tr_all">
													<li><a href="portfolio_1_column_with_sidebar.html">1 column with sidebar</a></li>
													<li><a href="portfolio_2_columns.html">2 columns</a></li>
													<li><a href="portfolio_3_columns.html">3 columns</a></li>
													<li><a href="portfolio_3_columns_with_sidebar.html">3 columns with sidebar</a></li>
													<li><a href="portfolio_4_columns.html">4 columns</a></li>
												</ul>
											</li>
											<li>
												<a href="portfolio_masonry.html">Masonry</a>
												<!--sub menu (third level)-->
												<ul class="sub_menu bg_grey_light tr_all">
													<li><a href="portfolio_masonry.html">Masonry</a></li>
													<li><a href="portfolio_masonry_full_width.html">Full width masonry</a></li>
												</ul>
											</li>
											<li>
												<a href="portfolio_single_project_v1.html">Single project pages</a>
												<!--sub menu (third level)-->
												<ul class="sub_menu bg_grey_light tr_all">
													<li><a href="portfolio_single_project_v1.html">Single project page v1</a></li>
													<li><a href="portfolio_single_project_v2.html">Single project page v2</a></li>
													<li><a href="portfolio_single_project_v3.html">Single project page v3</a></li>
													<li><a href="portfolio_single_project_video_list.html">Single project with video list</a></li>
													<li><a href="portfolio_single_project_video_slider.html">Single project with video slider</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="pages_category_grid.html" class="tt_uppercase tr_delay">Pages <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
										<ul class="sub_menu bg_grey_light tr_all">
											<li><a href="pages_category_grid.html">Category page v1</a></li>
											<li><a href="pages_category_list.html">Category page v2</a></li>
											<li><a href="pages_deals_of_the_day.html">Category page v3</a></li>
											<li><a href="pages_product_v1.html">Product page v1</a></li>
											<li><a href="pages_product_v2.html">Product page v2</a></li>
											<li><a href="pages_product_v3.html">Product page v3</a></li>
											<li><a href="pages_wishlist.html">Wishlist</a></li>
											<li><a href="pages_compare_products.html">Compare</a></li>
											<li><a href="pages_shopping_cart.html">Shopping cart</a></li>
											<li><a href="pages_checkout.html">Checkout</a></li>
											<li><a href="pages_manufacturers.html">Manufacturers</a></li>
											<li><a href="pages_manufacturer.html">Manufacturer page</a></li>
											<li><a href="pages_orders_list.html">Orders list</a></li>
											<li><a href="pages_order_page.html">Order page</a></li>
											<li><a href="pages_about.html">About us</a></li>
											<li><a href="page_404.html">404 page</a></li>
										</ul>
									</li>
									<li>
										<a href="features_elements.html" class="tt_uppercase tr_delay">Features <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
										<ul class="sub_menu bg_grey_light tr_all">
											<li><a href="features_elements.html">Elements</a></li>
											<li><a href="features_typography.html">Typography</a></li>
											<li><a href="features_columns.html">Columns</a></li>
											<li><a href="index_rtl.html">Rtl layout</a></li>
										</ul>
									</li>
									<li>
										<a href="blog.html" class="tt_uppercase tr_delay">Blog <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
										<ul class="sub_menu bg_grey_light tr_all">
											<li><a href="blog.html">Blog page</a></li>
											<li><a href="blog_post.html">Blog post</a></li>
											<li><a href="blog_post_video.html">Blog video post</a></li>
										</ul>
									</li>
									<li><a href="contact.html" class="tt_uppercase tr_delay">Contact</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-lg-3 col-md-3 clearfix t_sm_align_c">
							<ul class="hr_list si_list shop_list f_right f_sm_none d_sm_inline_b t_sm_align_l">
								<li>
									<a href="#" class="color_lbrown_hover vc_child">
										<span class="d_inline_m">
											<i class="fa fa-heart fs_large"></i><sup class="color_dark">7</sup>
										</span>
									</a>
								</li>
								<li>
									<a href="#" class="color_lbrown_hover vc_child">
										<span class="d_inline_m">
											<i class="fa fa-arrow-right fs_small"></i><i class="fa fa-arrow-left fs_small"></i><sup class="color_dark">2</sup>
										</span>
									</a>
								</li>
								<!--shopping cart-->
								<li class="relative open_mini_shopping_cart">
									<button class="color_dark active_lbrown tr_all" data-open-dropdown="#shopping_cart">
										<i class="fa fa-shopping-cart fs_large"></i><sup>3</sup>
										<b class="second_font fs_small d_inline_b m_left_10">$355</b>
									</button>
									<div id="shopping_cart" data-show="fadeInUp" data-hide="fadeOutDown" class="bg_grey_light dropdown animated">
										<div class="sc_header fs_small fw_light">Recently added item(s)</div>
										<hr class="divider_white">
										<ul class="shopping_cart_list m_bottom_4">
											<li class="relative">
												<div class="clearfix lh_small">
													<a href="#" class="f_left m_right_10 d_block"><img src="~/images/sc_img_1.jpg" alt=""></a>
													<a href="#" class="fs_medium second_font color_dark sc_hover d_block m_bottom_4">Cursus eleifend elit aenean</a>
													<p class="fs_medium">1 x <b class="color_dark">$499.00</b></p>
												</div>
												<hr class="divider_white m_top_15 m_bottom_0">
												<span class="close fs_small color_light tr_all color_dark_hover fw_light">x</span>
											</li>
											<li class="relative">
												<div class="clearfix lh_small">
													<a href="#" class="f_left m_right_10 d_block"><img src="~/images/sc_img_2.jpg" alt=""></a>
													<a href="#" class="fs_medium second_font color_dark sc_hover d_block m_bottom_4">Auctor wisi et urna</a>
													<p class="m_bottom_4 fs_medium">1 x <b class="color_dark">$1,599.00</b></p>
													<ul class="fw_light fs_small lh_small">
														<li>Size: <span class="color_dark">2-Seat Sofa</span>,</li>
														<li>Color: <span class="color_dark">Red</span></li>
													</ul>
												</div>
												<hr class="divider_white m_top_15 m_bottom_0">
												<span class="close fs_small color_light tr_all color_dark_hover fw_light">x</span>
											</li>
											<li class="relative">
												<div class="clearfix lh_small">
													<a href="#" class="f_left m_right_10 d_block"><img src="~/images/sc_img_3.jpg" alt=""></a>
													<a href="#" class="fs_medium second_font color_dark sc_hover d_block m_bottom_4">Aliquam erat volut</a>
													<p class="fs_medium">2 x <b class="color_dark">$99.00</b></p>
												</div>
												<hr class="divider_white m_top_15 m_bottom_0">
												<span class="close fs_small color_light tr_all color_dark_hover fw_light">x</span>
											</li>
										</ul>
										<ul class="fs_medium second_font color_dark m_bottom_15">
											<li><span class="d_inline_b total_title">Tax:</span><span class="fw_light">$0.00</span></li>
											<li><span class="d_inline_b total_title">Discount:</span><span class="fw_light">$37.00</span></li>
											<li><b><span class="d_inline_b total_title">Total:</span>$999.00</b></li>
										</ul>
										<a href="#" role="button" class="button_type_2 tt_uppercase fs_medium second_font d_block t_align_c black state_2 m_bottom_5">View Cart</a>
										<a href="#" role="button" class="t_align_c tt_uppercase w_full second_font d_block fs_medium button_type_2 lbrown tr_all">Checkout</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		@RenderBody()

		<!--footer-->
		<footer role="contentinfo" class="p_top_0">
			<div class="section_offset bg_grey_light_2 m_bottom_38">
				<div class="container m_bottom_13 m_top_10">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 m_xs_bottom_30">
							<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Latest Tweets</h5>
							<hr class="divider_bg m_bottom_10">
							<!--twitter feed-->
							<div class="tweets_list_container"></div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Stay Connected</h5>
							<hr class="divider_bg m_bottom_30">
							<!--social buttons-->
							<ul class="hr_list">
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-facebook fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Facebook</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-twitter fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Twitter</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-google-plus fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Google Plus</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-rss fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">RSS</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-pinterest fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Pinterest</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-instagram fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Instagram</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-linkedin fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">LinkedIn</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-vimeo-square fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Vimeo</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-youtube-play fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Youtube</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-flickr fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Flickr</span></a>
								</li>
								<li class="m_right_3 m_bottom_3">
									<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-envelope fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Contact Us</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">About Us</h5>
								<hr class="divider_bg m_bottom_25">
								<div class="clearfix">
									<img src="~/images/mini_logo.jpg" class="f_left m_top_10 m_right_20" alt="">
									<p class="m_bottom_14 fw_light">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus.</p>
									<p class="m_bottom_10 fw_light">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque.</p>
									<a href="#" class="sc_hover second_font">Read More</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">The Services</h5>
								<hr class="divider_bg m_bottom_25">
								<ul class="second_font vr_list_type_1 with_links">
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>My account</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Order history</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Wishlist</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Vendor contact</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Front page</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Categories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Information</h5>
								<hr class="divider_bg m_bottom_25">
								<ul class="second_font vr_list_type_1 with_links">
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>About us</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>New collection</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Best sellers</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Manufacturers</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
									<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Terms &amp; condition</a></li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Like Us On Facebook</h5>
								<hr class="divider_bg m_bottom_15">
								<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fthemeforest&amp;width=235&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266" style="border:none; overflow:hidden; width:235px; height:258px;"></iframe>
							</div>
						</div>
					</div>
				</div>
				<hr class="divider_black m_bottom_13">
				<div class="d_table w_full d_xs_block t_xs_align_c">
					<div class="col-lg-6 col-md-6 col-sm-6 color_light fw_light f_none d_table_cell v_align_m d_xs_block m_xs_bottom_10">
						&copy; 2014 <a href="index.html" class="sc_hover">CosyOne</a>. All Rights Reserved.
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 t_align_r t_xs_align_c f_none d_table_cell v_align_m d_xs_block">
						<ul class="hr_list d_inline_b">
							<li class="m_right_5"><img src="~/images/payment_1.jpg" alt=""></li>
							<li class="m_right_5"><img src="~/images/payment_2.jpg" alt=""></li>
							<li class="m_right_5"><img src="~/images/payment_3.jpg" alt=""></li>
							<li class="m_right_5"><img src="~/images/payment_4.jpg" alt=""></li>
							<li class="m_right_5"><img src="~/images/payment_5.jpg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!--back to top-->
	<button class="back_to_top animated button_type_6 grey state_2 d_block black_hover f_left vc_child tr_all"><i class="fa fa-angle-up d_inline_m"></i></button>
	<button data-popup="#subscribe_popup" data-popup-transition-in="bounceInUp" data-popup-transition-out="bounceOutUp"></button>
	<!--popup-->
@*	<div class="init_popup" id="subscribe_popup">
		<div class="popup init banner_type_2 color_lbrown">
			<section class="bg_lbrown inner color_white">
				<h2 class="second_font color_white fw_light m_bottom_27 t_align_c">Subscribe Now to Get 20% Off on Any Product!</h2>
				<div class="row color_white">
					<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_30">
						<img src="~/images/popup_img_1.jpg" alt="">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_30 fw_light">
						<p class="m_bottom_13">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
						<p> Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.</p>
					</div>
				</div>
				<form class="newsletter">
					<div class="row fs_medium">
						<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_10">
							<input type="email" placeholder="Enter your email address" name="newsletter-email" class="tr_all fw_light w_full b_none color_light">
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_10">
							<input type="text" name="newsletter-name" placeholder="Name" class="tr_all fw_light w_full b_none color_light">
						</div>
					</div>
					<div class="t_align_c">
						<button class="second_font tt_uppercase color_white fs_medium button_type_2 d_inline_b bg_transparent bg_white_h color_lbrown_h bg_white_hover tr_all">Subscribe</button>
					</div>
				</form>
			</section>
			<button class="close_popup fw_light color_white fs_large color_dark_hover tr_all">x</button>
		</div>
	</div>*@
	<!--popup-->
	<div class="init_popup" id="quick_view">
		<div class="popup init">
			<div class="clearfix">
				<div class="product_preview f_left f_xs_none wrapper m_xs_bottom_15">
					<div class="d_block relative r_image_container">
						<img id="zoom" src="~/images/product_img_0.jpg" alt="" data-zoom-image="images/p_image1.jpg">
						<div class="product_label fs_ex_small circle color_white bg_lbrown t_align_c vc_child tt_uppercase"><i class="d_inline_m">Sale!</i></div>
					</div>
					<!--thumbnails-->
					<div class="product_thumbnails_wrap relative m_bottom_3">
						<div class="owl-carousel" id="thumbnails" data-nav="thumbnails_product_" data-owl-carousel-options='{
								"responsive" : {
									"0" : {
										"items" : 3
									},
									"321" : {
										"items" : 4
									},
									"769" : {
										"items" : 2
									},
									"992" : {
										"items" : 3
									}
								},
								"stagePadding" : 40,
								"margin" : 10,
								"URLhashListener" : false
							}'>
							<a href="#" data-image="~/images/product_img_0.jpg" data-zoom-image="images/p_image1.jpg" class="d_block">
								<img src="~/images/product_thumb_1.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_1.jpg" data-zoom-image="images/p_image2.jpg" class="d_block">
								<img src="~/images/product_thumb_2.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_2.jpg" data-zoom-image="images/p_image3.jpg" class="d_block">
								<img src="~/images/product_thumb_3.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_3.jpg" data-zoom-image="images/p_image4.jpg" class="d_block">
								<img src="~/images/product_thumb_4.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_6.jpg" data-zoom-image="images/p_image7.jpg" class="d_block">
								<img src="~/images/product_thumb_5.jpg" alt="">
							</a>
							<a href="#"data-image="~/images/product_img_9.jpg" data-zoom-image="images/p_image10.jpg" class="d_block">
								<img src="~/images/product_thumb_6.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_4.jpg" data-zoom-image="images/p_image5.jpg" class="d_block">
								<img src="~/images/product_thumb_7.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_7.jpg" data-zoom-image="images/p_image8.jpg" class="d_block">
								<img src="~/images/product_thumb_8.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_5.jpg" data-zoom-image="images/p_image6.jpg" class="d_block">
								<img src="~/images/product_thumb_9.jpg" alt="">
							</a>
							<a href="#" data-image="~/images/product_img_8.jpg" data-zoom-image="images/p_image9.jpg" class="d_block">
								<img src="~/images/product_thumb_10.jpg" alt="">
							</a>
						</div>
						<button class="thumbnails_product_prev black_hover button_type_4 grey state_2 tr_all d_block vc_child"><i class="fa fa-angle-left d_inline_m"></i></button>
						<button class="thumbnails_product_next black_hover button_type_4 grey state_2 tr_all d_block vc_child"><i class="fa fa-angle-right d_inline_m"></i></button>
					</div>
					<p class="d_inline_m m_right_5 fw_light m_md_bottom_3">Share this:</p>
					<div class="d_inline_m addthis_widget_container">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_preferred_3"></a>
							<a class="addthis_button_preferred_4"></a>
							<a class="addthis_button_compact"></a>
							<a class="addthis_counter addthis_bubble_style"></a>
						</div>
						<!-- AddThis Button END -->
					</div>
				</div>
				<div class="product_description f_left f_xs_none">
					<h3 class="second_font m_bottom_3 product_title"><a href="#" class="sc_hover">Sed in lacus ut enim</a></h3>
					<div class="relative m_bottom_18">
						<ul class="rating_list wrapper hr_list d_inline_m tr_all m_right_5">
							<li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
							<li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
							<li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
							<li><i class="fa fa-star tr_all"></i></li>
							<li><i class="fa fa-star tr_all"></i></li>
						</ul>
						<span class="color_light d_inline_m m_top_2">
							<a href="#" class="sc_hover fs_medium fw_light">3 Review(s)</a> | <a href="#" class="color_dark sc_hover fs_medium fw_light">Add Your Review</a>
						</span>
					</div>
					<ul class="m_bottom_14">
						<li class="m_bottom_3"><span class="project_list_title second_font d_inline_b">Manufacturer:</span> <span class="color_dark fw_light">Chanel</span></li>
						<li class="m_bottom_3"><span class="project_list_title second_font d_inline_b">Availability:</span> <span class="scheme_color fw_light">in stock</span> <span class="fw_light">20 items(s)</span></li>
						<li class="m_bottom_3"><span class="project_list_title second_font d_inline_b">Product Code:</span> <span class="fw_light">PS06</span></li>
					</ul>
					<hr class="divider_light m_bottom_15">
					<p class="fw_light m_bottom_14 color_grey">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>
					<div class="product_options">
						<b class="second_font d_block m_bottom_10">Available Options</b>
						<p class="second_font m_bottom_3">Size:</p>
						<div class="styled_select size_select relative m_bottom_15">
							<div class="select_title type_2 fs_medium fw_light color_light relative d_none tr_all">Queen</div>
							<select>
								<option value="Queen">Queen</option>
								<option value="King">King</option>
								<option value="Grand">Grand</option>
							</select>
							<ul class="options_list d_none tr_all hidden bg_grey_light_2"></ul>
						</div>
						<p class="second_font">Color:</p>
						<ul class="hr_list m_bottom_17">
							<li class="m_right_5 m_bottom_3"><button class="color_button bg_light_red tr_all"></button></li>
							<li class="m_right_5 m_bottom_3"><button class="color_button bg_light_blue tr_all"></button></li>
							<li class="m_right_5 m_bottom_3"><button class="color_button bg_light_green tr_all"></button></li>
							<li class="m_right_5 m_bottom_3"><button class="color_button bg_grey tr_all"></button></li>
							<li class="m_right_5 m_bottom_3"><button class="color_button bg_light_yellow tr_all"></button></li>
						</ul>
						<hr class="divider_light">
						<footer class="bg_grey_light_2">
							<div class="fs_big second_font m_bottom_17"><s class="color_light">$1 302.00</s> <b class="scheme_color">$1 102.00</b></div>
							<div class="clearfix">
								<div class="quantity clearfix t_align_c f_left f_md_none m_right_10 m_md_bottom_3">
									<button class="f_left d_block minus black_hover tr_all bg_white">-</button>
									<input type="text" value="1" name="" readonly="" class="f_left color_light">
									<button class="f_left d_block black_hover tr_all bg_white">+</button>
								</div>
								<br class="d_md_block d_none">
								<button class="button_type_2 d_block f_sm_none m_sm_bottom_3 t_align_c lbrown state_2 tr_all second_font fs_medium tt_uppercase f_left m_right_3 product_button"><i class="fa fa-shopping-cart d_inline_m m_right_9"></i>Add To Cart</button>
								<br class="d_sm_block d_none">
								<button class="button_type_8 grey state_2 tr_delay color_dark t_align_c vc_child f_left m_right_3 tooltip_container relative"><i class="fa fa-heart fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Add to Wishlist</span></button>
								<button class="button_type_8 grey state_2 tr_delay color_dark t_align_c vc_child f_left m_right_3 tooltip_container relative"><i class="fa fa-arrow-right fs_small d_inline_m"></i><i class="fa fa-arrow-left fs_small d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Add to Compare</span></button>
							</div>
						</footer>
					</div>
				</div>
			</div>
			<button class="close_popup fw_light fs_large tr_all">x</button>
		</div>
	</div>

	<!--popup-->
	<div class="init_popup" id="add_to_cart_popup">
		<div class="popup init">
			<div class="clearfix m_bottom_15">
				<a href="#" class="f_left d_block m_right_20">
					<img src="~/images/bestsellers_img_1.jpg" alt="">
				</a>
				<p class="second_font fs_large color_dark">1 x Eget elementum vel<br> was added to your cart</p>
			</div>
			<div class="clearfix">
				<a href="#" class="button_type_2 d_block f_left t_align_c grey state_2 tr_all second_font fs_medium tt_uppercase m_top_15">Continue Shopping</a>
				<a href="pages_shopping_cart.html" class="button_type_2 d_block f_right t_align_c grey state_2 tr_all second_font fs_medium tt_uppercase m_top_15">Show Cart</a>
			</div>
			<button class="close_popup fw_light fs_large tr_all">x</button>
		</div>
	</div>

	<!--libs include-->
	<script src="~/plugins/layerslider/js/greensock.js"></script>
	<script src="~/plugins/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
	<script src="~/plugins/layerslider/js/layerslider.transitions.js"></script>
	<script src="~/plugins/jquery.appear.js"></script>
	<script src="~/plugins/jquery.elevateZoom-3.0.8.min.js"></script>
	<script src="~/plugins/fancybox/jquery.fancybox.pack.js"></script>
	<script src="~/plugins/jquery.easytabs.min.js"></script>
	<script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="~/plugins/twitter/jquery.tweet.min.js"></script>
	<script src="~/plugins/flickr.js"></script>
	<script src="~/plugins/afterresize.min.js"></script>
	<script src="~/plugins/jackbox/js/jackbox-packed.min.js"></script>
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid="></script>
	<script src="~/js/retina.min.js"></script>
	<script src="~/plugins/colorpicker/colorpicker.js"></script>


	<!--theme initializer-->
	<script src="js/themeCore.js"></script>
	<script src="js/theme.js"></script>
</body>
</html>